# -----------------------------------------------------------------------------
# Build artifacts
# -----------------------------------------------------------------------------
*.o
*.d
*.obj
*.a
*.so
*.elf
*.bin
*.map
*.mk
*.lst
*.AMX
*.amxasm
isodir

kernel.bin
kernel.elf

# -----------------------------------------------------------------------------
# Disk images / ISOs
# -----------------------------------------------------------------------------
*.iso
*.img

# -----------------------------------------------------------------------------
# Generated directories
# -----------------------------------------------------------------------------
build/
out/
dist/

# -----------------------------------------------------------------------------
# Compilation database
# -----------------------------------------------------------------------------
compile_commands.json

# -----------------------------------------------------------------------------
# Dependency files
# -----------------------------------------------------------------------------
*.d

# -----------------------------------------------------------------------------
# Debugging
# -----------------------------------------------------------------------------
*.log
*.core
core

# -----------------------------------------------------------------------------
# Editors
# -----------------------------------------------------------------------------
.vscode/
.idea/
.cache
.pycache

*.swp
*.swo
*~

# -----------------------------------------------------------------------------
# macOS / Windows
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------------------------------------------
# QEMU / Bochs
# -----------------------------------------------------------------------------
*.qcow2
*.vmdk
*.vdi
*.sav

# -----------------------------------------------------------------------------
# Coverage / profiling
# -----------------------------------------------------------------------------
*.gcda
*.gcno
*.gcov
gmon.out


# -----------------------------------------------------------------------------
# Shell scripts
# -----------------------------------------------------------------------------
*.ps1
*.sh

# -----------------------------------------------------------------------------
# IDA
# -----------------------------------------------------------------------------

*.id0
*.id1
*.id2
*.nam
*.til
*.i64

*.fd